/* Primary Font (Bricolage Grotesque) utility classes */
.font-primary {
  font-family: 'Bricolage Grotesque', sans-serif;
}

.font-primary-light {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: 200;
}

.font-primary-regular {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: 400;
}

.font-primary-medium {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: 500;
}

.font-primary-bold {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: 700;
}

/* Secondary Font (Albert Sans) utility classes */
.font-secondary {
  font-family: 'Albert Sans', sans-serif;
}

.font-secondary-thin {
  font-family: 'Albert Sans', sans-serif;
  font-weight: 100;
}

.font-secondary-regular {
  font-family: 'Albert Sans', sans-serif;
  font-weight: 400;
}

.font-secondary-medium {
  font-family: 'Albert Sans', sans-serif;
  font-weight: 500;
}

.font-secondary-semibold {
  font-family: 'Albert Sans', sans-serif;
  font-weight: 600;
}

.font-secondary-bold {
  font-family: 'Albert Sans', sans-serif;
  font-weight: 700;
}
